@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --reach-combobox: 1;
  }
}

@layer components {
  [data-reach-combobox-option][data-highlighted] {
    @apply bg-primary-600 text-white;
  }
}

@layer utilities {
  .animation-delay-0 {
    animation-delay: 0s;
  }

  .animation-delay-200 {
    animation-delay: 0.2s;
  }

  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}
